#rightSide{

    left: 500px;
    height: 500px;
    width: 500px;
   border-left: solid black 1px;
    position: absolute;

}
#leftSide{
    height: 500px;
    width: 500px;

    position: absolute;

}
img{
    position: absolute;
    width: 100px;
    height: 100px;
}
